__pycache__/
msg_editor/data/toRaw.json
msg_editor/data/data.json
msg_editor/build.bat
msg_editor/build
msg_editor/dist
msg_editor/MsgEditor.spec
msg_editor/setup.iss
msg_editor/MsgEditor_Installer.exe